@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --blue: #3E86F5;
  --white: #fff;
  --smoke-white: #F8F9FC;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem 5rem;
}

