.flex {
    display: flex;
}

.margT {
    margin-top: 31px;
}
.bg {
    background-image: url('../Nav/image1.jpg');
    width: 100%;
    height: 170vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    position: relative; 
    z-index: -1;
}
.nav {
    display: block;
    /* margin-top: 1rem; */
    justify-content: space-between;
    max-width: 100%;
}

.nav-width {
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.menu ul{
    display: block;
    list-style-type: none;
    margin-top: 1.1rem;
    /* margin-left: 2rem; */
    
}

.menu ul li {
    width: 6rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 14px;
    line-height: 2rem;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
}
 .img {
    width: 30px;
    height: 30px;
    border: 1px dashed white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -0.2rem;

}

.btn button{
    padding: 14px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}

.nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7481), rgba(0, 0, 0, 0.8936));
    color: var(--white);
    padding-top: 3rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left; 
}

.home-text {
    color: var(--white);
}

.home-text h1 {
    margin-top: 80px;
    font-weight: 700;
    font-size: 26px;
    line-height: 42.8px;
    
}

.home-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24.1px;
    margin-top: 40px;
    font-family: 'Poppins';
}

.btn2 button{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 25px 59px;
    margin-top: 68px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


@media (min-width: 1100px) {
    .nav {
        display: flex;
        justify-content: space-between;
        will-change: 100%;
    }

    .nav-width {
        display: flex;
        width: 52%;
        font-family: 'Poppins', sans-serif;
        justify-content: space-between;
    }
    
    .menu ul{
        display: flex;
        list-style-type: none;
        margin-top: 0.5rem;
        /* margin-left: 2rem; */
        
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 45%;
        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 700;
        color: white;
    }

    .btn button{
        padding: 18px 60px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: white;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 600;
        color: var(--blue);
        cursor: pointer;
    }
    .img {
        width: 50px;
        height: 50px;
        border: 1px dashed white;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* margin-top: rem; */
    
    }

    .home-text h1 {
        margin-top: 150px;
        font-weight: 700;
        font-size: 56px;
        line-height: 72.8px;
        
    }

    .home-text p {
        font-weight: 400;
        font-size: 22px;
        line-height: 44.1px;
        margin-top: 40px;
        font-family: 'Poppins';
    }

    .bg {
        background-image: url('../Nav/image1.jpg');
        width: 100%;
        height: 190vh;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        position: relative; 
        z-index: -1;
    }
}